<!--

  KNX nodes for IBM's Node-Red
  https://bitbucket.org/ekarak/node-red-contrib-knxjs
  (c) 2016, Elias Karakoulakis <elias.karakoulakis@gmail.com>

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->


<script type="text/x-red" data-template-name="knx-controller">
  <div class="form-row">
    <label for="node-config-input-ipAddr"><i class="icon-bookmark"></i>IP address</label>
    <input type="text" id="node-config-input-ipAddr">
  </div>
  <div class="form-row">
    <label for="node-config-input-ipPort"><i class="icon-bookmark"></i>IP port</label>
    <input type="text" id="node-config-input-ipPort">
  </div>
</script>
<script type="text/x-red" data-help-name="knx-controller">
    <b>Configure your KNX connection</b> depending on your setup<br/>
    <ul>
      <li>use <b>multicast</b> when you have a <b>KNX <i>router</i></b> on the same LAN, or over a Layer2 VPN</li>
      <li>use <b>unicast</b> when you have a <b>KNX <i>interface</i></b>, or if your KNX router is across a WAN/VPN link</li>
    </ul>
    If you are using eibd in router mode, make sure that its running with the &quot;-R&quot; flag.
</script>


<script type="text/x-red" data-template-name="knx-in">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
    <div class="form-row">
    <label for="node-input-controller"><i class="icon-bookmark"></i>Connection</label>
    <input type="text" id="node-input-controller">
  </div>
</script>
<script type="text/x-red" data-help-name="knx-in">
  <p>KNX input node. Use this to <b>inject</b> flows from KNX events.<br/>
  <b>msg.topic</b> will be:
  <ul>
    <li>'knx: read': when a read request arrives on the bus</li>
    <li>'knx: respond': when another KNX device responds to a read request on the bus</li>
    <li>'knx: write': when somebody writes a value to a KNX group address.</li>
  </ul>
  <b>msg.payload</b> will be an object with the following properties:
  <ul>
    <li>srcphy: source <b>physical</b> address (eg.'1.1.100')</li>
    <li>dstgad: destination <b>group</b> address (eg.'1/2/3')</li>
    <li>value: the actual value received (<b>NOTE: just a raw Buffer</b>)</li>
  </ul>
  One <b>major disadvantage</b> of the generic knx-in node is that there is no
  <b>DPT context</b>, hence the values emitted from KNX come in as <b>raw values</b>
  (integer or byte arrays) that you need to translate into useful values.<br/>
  Please take a look at the knx-device node to define DPT-aware endpoints!
  </p>
</script>


<script type="text/x-red" data-template-name="knx-out">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-controller"><i class="icon-bookmark"></i>Connection</label>
    <input type="text" id="node-input-controller">
  </div>
</script>
<script type="text/x-red" data-help-name="knx-out">
  <p>KNX output node. Use this to <b>send</b> KNX telegrams.<br/>
  <b>msg.topic</b> can be:
  <ul>
    <li>'knx: read': to send a read request to the bus</li>
    <li>'knx: respond': to send a response to another read request to the bus</li>
    <li>'knx: write': (<b>default</b>) to write a value to the bus. Can be omitted.</li>
  </ul>
  <b>msg.payload</b> must be a JavaScript object or a string in JSON format
  <ul>
    <li>dstgad: the destination <b>group</b> address (eg."1/2/3")</li>
    <li>value: the actual value to send (eg."1")</li>
    <li>dpt: the datapoint type (eg."DPT1.001") (required when doing 'write' requests)</li>
    </ul>
  </p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('knx-controller', {
    category: 'config',
    defaults: {
      ipAddr:   {value:"224.0.23.12",required:false},
      ipPort:   {value:3671,         required:false,  validate:RED.validators.number()}
    },
    label: function() {
      return this.ipAddr+":"+this.ipPort;
    },
    oneditprepare: function() {
    }
  });
</script>

<script type="text/javascript">
  RED.nodes.registerType('knx-out',{
    category: 'home automation',
    color: '#00cc00',
    defaults: {
      name:      {value:""},
      controller:{value:"", type:"knx-controller"}
    },
    inputs: 1,
    outputs: 0,
    icon: "knx.png",
    label: function() {
      return(this.groupaddr||this.name||"knx");
    }
  });
</script>

<script type="text/javascript">
  RED.nodes.registerType('knx-in',{
    category: 'home automation',
    color: '#00cc00',
    defaults: {
      name:      {value:""},
      controller:  {value:"", type:"knx-controller"}
    },
    inputs: 0,
    outputs: 1,
    icon: "knx.png",
    label: function() {
        return(this.groupaddr||this.name||"knx");
    }
  });
</script>
